html{
    scroll-behavior: smooth;
}
.container2{
    width:100%;
    height:500px;
    background-color:grey;
}
.fixed-action-btn{
	z-index:10;
	position:fixed;
	bottom:15px;
	right:15px;
}
#slide-out{
	padding-top:40px;
}
.sidenav-trigger{
	z-index:10;
	position:fixed;
	top:10px;
	left:10px;
}
.section-1{
	background: linear-gradient(to top,#558000,grey);
}
.section-2{
	background: linear-gradient(to top, #8e8566, #637d4d);
}
.section-3{
	background: linear-gradient(to top, #5a6b70, #8e8566);
}
.section-4{
	background: linear-gradient(to bottom,#aab7bb,grey);
}